header {
    padding: 20px;
    text-align: center;
    position: relative;
}

.logo {
    height: 120px; 
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: 'Racing Sans One', sans-serif;
}