header {
    padding: 20px;
    text-align: center;
    position: relative;
    background-color: var(--footer-bg);
}

.logo {
    height: 120px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: 'Racing Sans One', sans-serif;
}

@media (max-width: 768px) {
    header {
        padding: 0;
        text-align: center;
    }
    .logo {
        position: static;
        transform: none;
        height: 30px;
        margin-bottom: 0;
    }
    .short-title {
        display: inline;
        font-size: 1.2em;
    }
}