header {
    padding: 20px;
    text-align: center;
    position: relative;
}

.logo {
    height: 120px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: 'Racing Sans One', sans-serif;
}

.short-title {
    display: none;
}

@media (max-width: 768px) {
    header {
        padding: 10px 0 0 0; 
        text-align: center;
    }
    .logo {
        position: static;
        transform: none;
        height: 60px;
        margin-bottom: 10px;
    }
    .full-title {
        display: none;
    }
    .short-title {
        display: inline;
        font-size: 1.8em;
    }
}