.main-nav {
    position: relative;
}

.menu-toggle {
    display: none;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: var(--navbar-bg);
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    display: block;
    padding: 15px 20px;
    font-weight: bold;
    text-transform: uppercase;
}

nav a.active {
    color: var(--active-page);
}

nav {
    background: var(--footer-bg);
    color: var(--navbar-text);
    border-bottom: 1px solid var(--border-color);
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        background: var(--footer-bg);
        border: none;
        color: var(--footer-bg);
        font-size: 24px;
        padding: 15px 0;
        width: 100%;
        text-align: center;
        cursor: pointer;
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
    }

    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        margin: 0;
    }

    .nav-links li a {
        padding: 20px;
        border-top: 1px solid var(--border-color);
    }
}