body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #fff;
  --text: #111;
}

body {
  background: var(--background);
  color: var(--text);
}

body.light-mode {
  --background: #dddddd;
  --text: #111;
  --footer-bg: white;
  --link-text: #008686;
  --navbar-bg: white;
  --active-page: #01172C;
  --link-hover: #01172C;
  --border-color: #a0a0a0;
  --desc-color: #796868;
  background: var(--background);
  color: var(--text);
}

body.dark-mode {
  --background: #111;
  --text: white;
  --footer-bg: #1f1f1f;
  --link-text: #259999;
  --active-page: white;
  --link-hover: white;
  --border-color: #333;
  --desc-color: #747373;
  background: var(--background);
  color: var(--text);
}